In [1]:
%matplotlib inline

from pathlib import Path

import pandas as pd
import numpy as np
from scipy.stats import trim_mean
from statsmodels import robust
import wquantiles

import seaborn as sns
import matplotlib.pylab as plt

In [2]:

state = pd.read_csv(r'./data/state.csv', sep=',')

In [3]:
state.head(10)

         State  Population  Murder.Rate Abbreviation
0      Alabama     4779736          5.7           AL
1       Alaska      710231          5.6           AK
2      Arizona     6392017          4.7           AZ
3     Arkansas     2915918          5.6           AR
4   California    37253956          4.4           CA
5     Colorado     5029196          2.8           CO
6  Connecticut     3574097          2.4           CT
7     Delaware      897934          5.8           DE
8      Florida    18801310          5.8           FL
9      Georgia     9687653          5.7           GA

In [4]:
state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   Population    50 non-null     int64
 2   Murder.Rate   50 non-null     float64
 3   Abbreviation  50 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [5]:
state.shape

(50, 4)

##### Media

In [6]:
state['Population'].mean()

6162876.3

##### Media Recortada

In [7]:
# La función trim_mean se utiliza para calcular la media recortada donde se  excluye un porcentaje de los valores extremos tanto en la parte inferior como en la superior del conjunto de datos
# calculando la media recortada del 10% (0.1) de los valores extremos en la población
trim_mean(state['Population'], 0.1)

4783697.125